<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<link href="{% static 'app/css/signin.css' %}"rel="stylesheet" type="text/css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>
	


<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="static/app/images/icons/foodze.jpeg" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form method="post">{% csrf_token %}
     
      {{form}}
      <input type="submit" class="fadeIn fourth" value="Log In">
      {% if error %}
        <div class="alert alert-danger" role="alert">
          {{error}}
        </div>
      {% endif %}

      <div id="formFooter">
        <a class="underlineHover" href="otplogin">Log in with number</a>
      </div>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="signup">Sign Up</a>
    </div>
    

  </div>
</div>
</body>
</html>