<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'adminpanel/salesreport1.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href=".">Admin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        User Operations
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="viewuser">User info</a>
                        <a class="dropdown-item" href="salesreport">sales report</a>
                        <a class="dropdown-item" href="salesreport1">sales report1</a>
                    </div>


            </ul>
            <div class="ll">
                <form method="post" action="logout">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary me-3" style="margin-right: 2em;">
                        logout
                    </button>
                </form>
            </div>


            <div class="bb">


                <a href="{% url 'addproduct' %}"><button type="button" class="btn btn-primary me-3"
                        style="margin-right: 2em;">addproduct</button></a>

            </div>
            <div class="bb">


                <a href="product/listproduct"><button type="button" class="btn btn-primary me-3"
                        style="margin-right: 2em;">List products</button></a>

            </div>

            <div class="bb">


                <a href="{% url 'addcategory' %}"><button type="button" class="btn btn-primary me-3"
                        style="margin-right: 2em;">Add category</button></a>

            </div>
            <div class="bb">


                <a href="orderedproducts"><button type="button" class="btn btn-primary me-3"
                        style="margin-right: 2em;">Ordered products</button></a>

            </div>

            <div class="bb">


                <a href="discount"><button type="button" class="btn btn-primary me-3"
                        style="margin-right: 2em;">Discount Management</button></a>

            </div>
            <div class="bb">


                <a href="addcoupon"><button type="button" class="btn btn-primary me-3" style="margin-right: 2em;">Add
                        coupon</button></a>

            </div>
            <div class="bb">


                <a href="managecoupon"><button type="button" class="btn btn-primary me-3"
                        style="margin-right: 2em;">Manage coupon</button></a>

            </div>



            <div>
                <form method="post" action="search" class="form-inline my-2 my-lg-0">{% csrf_token %}
                    <input name="search1" class="form-control mr-sm-2" type="search" placeholder="Search"
                        aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>


        </div>
    </nav>
    <div class="container text-center text-white">
        <div class="row pt-5">
            <div class="col-lg-8 mx-auto">
                <h1 class="display-4">Bootstrap table fixed header</h1>
                <p class="lead mb-0">Build a bootstrap table with a fixed header and scrollable body using Bootstrap 4.
                </p>
                <p class="lead">Snippet by <a href="https://bootstrapious.com/snippets" class="text-white">
                        <u>Bootstrapious</u></a></p>
            </div>
        </div>
    </div><!-- End -->


    <div class="container py-5">
        <div id="salesreport">
            <div style="margin-left: 15em;">{{date}}</div>
            <div style="margin-left: 15em;margin-top: 2em;"> Total Amount: {{total.price__sum}}</div>
            <div class="row">
                <div class="col-lg-7 mx-auto bg-white rounded shadow" style="margin-top: 2em;">

                    <!-- Fixed header table-->

                    <div class="table-responsive">
                        <table class="table table-fixed">
                            <thead>

                                <tr>
                                    <th scope="col" class="col-3">Product Name</th>
                                    <th scope="col" class="col-3">Category</th>
                                    <th scope="col" class="col-3">Quantity</th>
                                    <th scope="col" class="col-3">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if sales %}
                                {% for i in sales %}
                                <tr>
                                    <th scope="row" class="col-3">{{i.product_id__name}}</th>
                                    <td class="col-3">{{i.product_id__categry_id__catname}}</td>
                                    <td class="col-3">{{i.qty}}</td>
                                    <td class="col-3">{{i.sumprice}}</td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>

                    </div><!-- End -->

                </div>
            </div>
        </div>
        <button type="button" style="margin-left: 29em;" class="btn btn-primary" onclick="pdfgen()">Generate pdf</button>
    </div>
    <script>
        function pdfgen() {
            const element = document.getElementById('salesreport')
            html2pdf()
                .from(element)
                .save()
        }
    </script>
    <script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>